@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#btn{
  padding: 15px 5px;
  width: 500px;
  background: linear-gradient(135deg, #85C933, #337A34);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;

}

img{
 overflow: hidden;
 height: 100%;
 max-width: 100%;

}

.sub-heading{
  display: flex;
  gap: 8px;
  padding-left: 15px;
  margin-bottom: 5px;
 
}

.sub-heading span:first-child {
  color: #333; /* Dark text color for dark mode */
  font-weight: bold; /* Optional: Make text bold */
}

.heading-KMS{
  display:  flex;
  gap: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.below-summary{
 padding-left: 25px;
}



